
.letra{
  text-align: center;
  margin: 10%;
  margin-top: 2%;
}

.letra_img {
  width: 250px;
  height: auto;
}

.ans {
  color: green;
}
.newWords {
  padding: 10px;
  margin: 30px;
}
.translation {
  color: #ebba34;
}

#footer{
  padding: 20px;
  text-align:center;
}

figcaption {
  padding: 20px;
}
