body{
  font-family: "Montserrat";
}

#title{
  background-color: #ff4c68;
  color: #fff;

}

.container-fluid {
  padding: 3% 15%;
}

h1{
  font-family: "Montserrat", "sans-serif";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;

}

/* navbar */

.navbar {
  padding:0 0 4.5rem;
}

.navbar-brand{
  font-weight: bold;
  font-size: 2.70rem;
  font-family: "Ubuntu";
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* buttons */
.nav-button{
  margin: 5% 3% 5% 0;
}

.title-imgage{
  transform: rotate(25deg);
  height: auto;
  width: 380px;
  margin: 75px 20px 0 20px;

}
